body{
    background-color: #588181;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

table {
    border: 3px solid black;
    width: 50%;
    border-radius: 10px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #3f5858;
}

th {
    background-color: white;
    border-radius: 5px 0 5px 0;
    color:#3f5858;
}

tr:nth-child(even){
    background-color: #2f4141;
}

h1 {
    text-align: center;
}

